<div>

  <div class="bgimg">
    <div class="welcometext">
        <h1 x-large class="sample-content text-right welcome">Herzlich Willkommen!
          </h1>
          <h1 x-large class="sample-content text-right togodpizza">zur GOD Pizza App
            </h1>
            
        <h2 class="text-right">
          Pizza, Salat oder sonstiges bestellen unter:
          <a [routerLink]=" ['./bestellvorgang'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-right">
            Pizza Bestellen
          </a>
        </h2>
        <h2 class="text-right">
          Übersicht über alle Bestellungen unter:
          <a [routerLink]=" ['./bestellungen'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-right">
            Bestellungen
          </a>
        </h2>
      
        <h2 class="text-right helpus">
          Freiwillige Mitarbeit an diesem Projekt oder der Döner App, diese Repo: <br>
          https://phabricator.entwicklung.god.de/source/doener/repository/master/
        </h2>

      </div>
  </div>

</div>