<h1>Heutige Bestellungen</h1>
<ul class="bestellungen">
    <li *ngFor="let bestellung of bestellungen ; let idx=index"
        [class.selected]="bestellung === selectedBestellung"
        (click)="onSelect(bestellung)">
        <span class="nr">{{idx + 1}}</span>
        <span class="typ">{{bestellung.typ}}</span>
        <span class="order">{{bestellung.price}}</span>
        <span class="order">{{bestellung.bestellung}}</span>
        <span>{{bestellung.extras}}</span>
        <span class="badge">{{bestellung.name}}</span>
        <span class="badge">as {{bestellung.alias}}</span>
        <span class="price">{{bestellung.price}} €</span>
        <span class="nr"> {{bestellung.telefonnummer}}</span>
    </li>
</ul>
<span>{{ getTotal() }} €</span>
<div>
    <span>Telefon: 0531 / 2147558 </span>
</div>
<div>
    <!-- TODO: ENUM einführen -->
    <style>


    </style>

</div>
S
